 body {
     background-color: #E8E8E8;
     display: flex;
     justify-content: center;
     align-items: center;
     align-content: center;
     flex-direction: row;
     flex-wrap: nowrap;
 }

 strong {
     text-transform: capitalize;
 }

 img {
     margin: auto;
 }

 .highlight {
     background-color: #ffff00;
 }
 
 .large-block {
    height: 430px;
    padding: 5px;
    margin: auto;
 }

 .small-block {
    height: 210px;
    padding: 3px;
    margin: auto; 
 }

 .light-bg {
     background-color: #fff;
 }

 .dark-bg {
     background-color: #3B3B3B;
     color: #fff;
 }

 .block {
     box-sizing: border-box;
     float: left;
     width: 400px;
     clear: both;
     margin: auto; 
 }

 .left-align {
    text-align: left;
 }

 .right-align {
    text-align: right;
 }

 .center-align {
    text-align: center;
 }

 .title {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    color: #fff;
 }


 #vision-board {
     width: 1200px;
     height: 850px;
     display: flex;
     justify-content: center;
     align-items: center;
     align-content: stretch;
     flex-direction: row;
     align-self: center;
     flex-wrap:wrap; 
     background-image: url('../img/background.png');
     font-family: 'Montserrat', sans-serif;
     text-transform: uppercase;
     margin: auto; 
 }